/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@media only screen and (max-width: 600px) {
  .header {
    padding: 0.5rem;
  }

  .content1 {
    flex-direction: column;
    align-items: flex-start;

  }

  .headermobileview {
    flex-direction: row-reverse;

  }

  .Menu .text-sm {
    display: none;

  }

  .headersection2 {
    display: none;
  }


  .mobile-bank-discount {
    height: 60px;
    padding: 0px;


  }

  .mobile-bank-discount img {


    width: 70%;

  }

  .headermaininput {
    width: 100%;
  }

  .carousel {
    padding: 2rem !important;

  }

  .homestaticimagedeals {
    flex-wrap: wrap;
  }

  .homestaticimagedeals .homeimages {
    width: 45% !important;
    margin: auto;
  }



  /* Dropdown product container page */
  .containerheading{
    margin-left: 0;
    text-align: center;
  }
  .dropdowns {
    margin-left: 0;
    margin-right: 0;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .firstlist {
    flex-wrap: wrap;

  }
  .secondlist{
    margin-left: 1.3rem;
  }

  /* Product Detail page */
  .descriptionbox {
    padding: 1rem;
  }

  .sp-outer-box {

    flex-direction: column;
  }

  .sp-outer-box #sp-left-box {
    width: 80%;
  }

  .sp-outer-box #sp-right-box {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }

  .container2 {
    margin-left: 0 !important;

  }

  .container3 {
    margin-left: 0 !important;
  }
  /* ADD TO CART PAGE  */
  .prodcart{
    flex-direction: column;
  } 
  .cart{
    flex-direction: column;
    margin-left: 0;
    
  }
  .carttitle{
    text-align: center;
  }
  .cartseconndivnames{
    flex-direction: column;
  }
  /* user serach page  */
  .inputproductheading{
    margin-left: 0;
    text-align: center;
  }
  .inputdropdowns{
    margin-left: 0;
   
    flex-wrap: wrap;
    gap: 1rem;

  }
  .inputfirstlist {
    flex-wrap: wrap;

  }
  .inputsecondist{
    margin-left: 1.3rem;
  }
/* whislistpage css as added */
.whislist-cart{
  width: 90%;
  flex-direction: column;
  padding: 3rem;
}
.whislist-second-content{
  flex-direction: column-reverse;
 

}
.whislist-cartimages{
  margin-right: 0;

}
.whislistcontent1 h2{
 text-align: center;

}

}