/* .container{
    background-color: #191919;
}
.slider{
   width:240px;
   height: 200px;
    padding-top: 30px;
    background-color: #121212;
    border-radius: 5px;
    color: white;


}
.imagepic{
    width: 100%;
    height: 60%;
}
.imagepic img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.product-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.product-name p{
    font-weight: bolder;
    font-size: 14px;
} */

/* Add this style to your CSS file or use inline styles in React */

/* .card {
  padding: 10px;
  margin-right: 25px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #121212;
  height: 400px;
  min-width: 250px;
  margin-top: 4rem;
}

.image img {
  width: 220px;
  height: 300px;
}

.card-body {
  font-weight: 400;
  font-size: 1rem;
}

.card-price {
  font-size: 1.125rem;
  font-weight: 500;
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

.card-discount {
  font-weight: 400;
} */
/* .slider {
  width: 280px;
  height: 400px;
  background-color: black;
  padding: 15px;
  border-radius: 5px;
  margin-top: 1rem;
} */
/* .slider {
    width: 270px;
    height: 400px;
    background-color: black;
    padding: 15px;
    border-radius: 5px;
    margin-top: 1rem;
  } */

/* .slider .image img {
    background-color: black;
    width: 15rem;
    height: 15rem;
    padding: 10px;
  } */
/* .slider .image img {
    background-color: black;
    width: 13rem;
    height: 15rem;
    padding: 10px;
    position: relative;
  }
  .heart {
    font-size: 1rem;
  }
  .product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4px;
    padding-bottom: 10px;
    box-sizing: border-box;
    background-color: black;
  }
  .product-name {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .product-name p {
    font-size: 1rem;
    color: white;
  }
  .product-name span {
    font-weight: bolder;
    font-size: larger;
    color: white;
    margin-top: 10px;
  }
  .star {
    text-align: left;
    color: rgb(66, 248, 194);
  }
  .heart {
    font-size: 1.55rem;
    float: right;
    margin-top: 1rem;
  }
   */


.main {
  width: 250.25px;
  margin-right: 25px;
  height: 380px;
  background: #121212;
  padding: 10px;
  border-radius: 5px;
}

/* .slider .image img {
    background-color: black;
    width: 15rem;
    height: 15rem;
    padding: 10px;
  } */
/* 
.main .image {
  background: #121212;


}

.main .image img {
  background-color: #121212;
  width: 10rem;
  height: 13rem;
  margin-left: 1.5rem;
  padding: 15px;
  position: relative;
  cursor: pointer;
} */
.heart {
  font-size: 1rem;
  cursor: pointer;
  margin-right: 3px;
}

.heart:hover {
  color: rgb(66, 248, 194);
  ;
}

.product-details {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4px;
  padding-bottom: 3px;
  box-sizing: border-box;
  background: #121212;
}

.product-name {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.product-name p {
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

.product-name span {
  font-weight: bolder;
  font-size: larger;
  color: white;
  margin-top: 5px;
  cursor: pointer;
}

.star {
  text-align: left;
  color: rgb(66, 248, 194);
}

.heart {
  font-size: 1.55rem;
  float: right;
  margin-top: 1rem;
}

.star {
  display: flex;
  gap: 0.1rem;
  cursor: pointer;
}

.whislist-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191919;
  margin: auto;
  padding: 1rem;
  width: 70%;
  border-radius: 8px;
  border: 2px solid #353535;
  margin-top: 6rem;
}

.whislistcontent1 p {
  color: white;
}

.whislistButton {
  display: flex;
  gap: 1rem;
  margintop:1rem
}

.whislistButtonadd {
  width: 150px;
  background: #12daa8;
  border: 1px solid #12daa8;
}

.whislistButtondelete {
  background: #fff;
  color: black;
  width: 100px;
}
.whislist-cartimages{
  margin-right: 2rem;
}
.whislist-cartimages img{
  width: 240px;
  height: 240px;

}
.whislisttitle{
  text-align: left;
}
.whislisttitle p{
  width: 400px;
  font-weight: 400;
}
.whislistproductdelivery{
  margin-top: 1rem;
  color: white;

}
.whislist-second-content{
  display: flex;
  margin-left: 1rem; 
}

.whislist-second-content h2{
  color:white;
  lineheight:1rem;
  marginleft:2rem;
}