.main {
    width: 250.25px;
    margin-right: 25px;
    height: 380px;
    background: #121212;
    padding: 10px;
    border-radius: 5px;
  }
  
  /* .slider .image img {
    background-color: black;
    width: 15rem;
    height: 15rem;
    padding: 10px;
  } */

  .main .image{
    background: #121212;


  }
  .main .image img {
    background-color: #121212;
    width: 10rem;
    height: 13rem;
    margin-left: 1.5rem;
    padding: 15px;
    position: relative;
    cursor: pointer;
  }

  .heart {
    font-size: 1rem;
    cursor: pointer;
    margin-right: 3px;
  }
  .heart:hover{
    color: rgb(66, 248, 194);;
  }
  .product-details {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4px;
    padding-bottom: 3px;
    box-sizing: border-box;
    background: #121212;
  }
  .cardproduct-name{
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .cardproduct-name p {
    font-size: 1rem;
    color: white;
    cursor: pointer;
  }
  .cardproduct-name span {
    font-weight: bolder;
    font-size: larger;
    color: white;
    margin-top: 5px;
    cursor: pointer;
  }
  .star {
    text-align: left;
    color: rgb(66, 248, 194);
  }
  .heart {
    font-size: 1.55rem;
    float: right;
    margin-top: 1rem;
  }
  .star{
    display: flex;
    gap:0.1rem;
    cursor:pointer;
  }
  