.checkheader {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 15rem;
    padding-top: 0.5rem;
    /* padding-bottom:0.5rem; */
    top:0;
    position: sticky;
    z-index: 50;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.875rem;
    gap: 1rem;
    width: 80%;
    cursor: pointer;
  
  }
  .logo img {
    width: 8rem;
  }
  .shippaybtn {
    display:flex;
  }
  .checkoutcartbtn{
    border:1px solid #545454;
    padding: 1rem 3rem;
    background-color: #191919;
    color: white;

    
  }
  .checkoutcartbtn:hover{
    color:#12daa8
  }

  
  .checkoutshippingbtn{
    background-color: #191919;
    padding: 1rem 3rem;
    color: white;
   
    border:1px solid #545454;

  }
  .checkoutshippingbtn:hover{
    color:#12daa8

  }

  .checkoutspaymentbtn{
    background-color: #191919;
    padding: 1rem 3rem;
    color: white;
    border:1px solid #545454;
  }

  .checkoutspaymentbtn:hover{
    color:#12daa8

  }
