.searchcontainer {
  
  background-color: #191919;
}
.inputproductheading{
  text-align: left;
  padding: 1rem;
  margin-left: 8rem;
  color: white;
}
.userproductscontainer {
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;


}


.inputdropdowns {
  display: flex;
  justify-content: space-between;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-bottom: 5rem;
}

.inputfirstlist {
  margin-left: 1.4rem;
  display: flex;
  gap: 1rem;
}

.inputsort-dropdown {
  margin-right: 20px;
}

label {
  margin-right: 8px;
}

select {
  background: #393939;
  color: white;
  padding: 6px 16px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #393939;
}