.checkouttotalcontainer {
  display: flex;
  background-color: white;
  height: 100vh;

}

.checkoutMainContainer {

  display: flex;
  width: 80%;
  margin: 60px auto;





}

.paymentMethodText {
  display: flex;
  font-family: montserrat-bold, sans-serif !important;
  font-size: 16px;
  margin-top: 20px;
}

.paymentMethodText .paynowbtn {
  width: 100px;
  background: #12daa8;
  color: #103749;
  border-radius: 8px;
  border: 1px solid #12daa8;
}

.paymentContainer {
  flex: 1;
  border-right: 0.3px solid grey;
  box-sizing: border-box;
  padding: 20px;
}

.cartAndPriceContainer {
  flex: 1;

}

.paymentOptionContainer {
  display: flex;
  margin-top: 20px;
  border: 2px solid #088466;
}

.paymentOptions {
  width: 35%;
  background-color: #f7f7f7;
}

.paymentType {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  /* outline: 1px solid red; */
  border: 1px solid rgb(226, 226, 226);
  box-sizing: border-box;
  font-family: montserrat-bold, sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  background-color: #f7f7f7;
  opacity: 0.55;
  cursor: pointer;
  border-right: none;
}

.paymentTypeOnClick {
  border-left: 6px solid #12daa8;
  background-color: white;
  opacity: 1;
  font-weight: 600;
}

.paymentType img {
  height: 23px;
  width: 23px;
}

.paymentForm {
  width: 65%;
 
}

.payout-form {
  height: 40%;
  /* flex: 0.75; */
  padding: 0 0 0 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  margin-top: 4rem;
  border: 2px solid #088466;
  margin-right: 3rem;
  flex: 1;

}

.payout-form p {
  color: black;
}

.payout-form h2 {
  text-align: center;
}

.shippingaddressto {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
}

.lastcheckoutform {
  flex: 0.75;
  /* padding: 0 0 0 0.625rem; */
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  margin-top: 4rem;
  margin-right: 2rem;

}

.lastcheckoutotalsummary {
  border: 1px solid #e0e0e1;
  border-radius: 3px;
  background-color: #fff;
  padding: 1rem;
  color: #585757;
  line-height: 2;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

}

.lastcheckoutformproducts{
  display: flex;
  align-items: center;
  justify-content:space-between;

}
.lastcheckoutformproductssection img{
  width: 200px;
  

}
.mainshippingform{
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}