
.maincart{
  display: flex;
  gap: 1rem;
}
.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    margin-top:4rem;
    margin-left: 6rem;
    padding: 1rem;
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  }
  .cartseconndivnames{
    display: flex;
  }

  .cartcontent {
    width: 450px;
    /* height:200px; */
    margin-left:2rem;
  }
  .carttitle{
    text-align: left;
  }
  
  .star {
    display: flex;
    
  }
  .star {
    color: rgb(66, 248, 194);
  
  }
  
  .content p {
    color: black;
  }
  .Button .btn1 {
    background-color: #ffffff;
    padding: 10px;
    width: 200px;
  }
  .Button .btn1:hover {
    border-color: rgb(66, 248, 194);
  }
  
  .Button .btn2 {
    background-color: #ffffff;
    padding: 10px;
    width: 100px;
    margin-left: 1rem;
  }
  
  .Button .btn2:hover {
    border-color: rgb(66, 248, 194);
  }
  .heading {
    width: 100px;
  }
  