.whislist {
    width: 250.25px;
    height: 390px;
    background:white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.whislistimage {
    background:white;
    text-align: center;


}

.whislistimage img {
    width: 10rem;
    height: 13rem;
    margin-left: 1rem;
    padding: 5px;
    position: relative;
    cursor: pointer;
}


.whislist-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4px;
    padding-bottom: 3px;
    box-sizing: border-box;
    /* background: #121212; */
    background:white;
}

.whislist-name {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.whislist-name p {
    font-size: 1rem;
    color: black;
    cursor: pointer;

    width: 246.25px;
     height: 57px;
     font-weight:600;
      overflow: hidden;
}

.whislist-name span {
    font-weight: bolder;
    font-size: larger;
    color: black;
    margin-top: 5px;
    cursor: pointer;
}
.whislistbuttons{
    display: flex;
    gap: 1rem;
}
.whislisttocart{
    background: #12daa8;
    color:#103749;
    border-radius: 8px;
    border: 1px solid #12daa8;
    text-align: center;
    width: 120px;
}
.Removewhislist{
    border: 1px solid #000;
    color: #000;
    background:transparent ;
   
    width: 100px;
}
.Removewhislist:hover{
    border-color: rgb(66, 248, 194);
}