.header {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
  top: 0;
  position: sticky;
  z-index: 50;
}

.content1 {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  width: 80%;

}

.content1 img {
  width: 8rem;
}

.Menu {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}



.IoMenuOutline {
  font-size: 1.875rem;
  cursor: pointer;
}

.Menu .text-sm {
  font-size: 0.875rem;
  color: white;
}

.MdLocationOn {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.carticon {
  color: white;
  position: relative;

}

.headerprofile {
  width: 200px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}


.headerprofile li:hover {
  background-color: #12daa8;
  cursor: pointer;
}

.headersection2 {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
  margin-left: 5rem;
}

.headerlocation {
  display: flex;
  align-items: center;
  gap: 0.25rem;

}

.headerlocationname {
  font-size: 0.875rem;
  line-height: 1.25rem;
  white-space: nowrap;

}

.headerusericon {
  cursor: pointer;
  font-size: 1.25rem;
  line-height: 2rem;

}

.headerdropdown-content {
  position: absolute;
  right: 7rem;
  top: 100%;
  padding: 10px;
  z-index: 1;
  background-color: black;


}

.headercarticon {
  font-size: 1.25rem;
  line-height: 1rem;

}

.headercarticon p {
  font-size: 0.7rem;
  top: 10px;
  background: #12daa8;
  width: 0.85rem;
  height: 0.95rem;
  text-align: center;
  position: absolute;
  border-radius: 99999px;
  right: 12%;
}

.headermobileview {
  display: flex;
  align-items: center;
}